.App {
  text-align: center;
 
}

body {
  margin: 0px;


  height: 100%;
  width: 100%;
  background-image: url("./images/jake-weirick-Zu6wtAvLWgE-unsplash.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
   
  

/* background-color: aqua; */
}


@media (max-width:426px) {
  body {
    height: fit-content;
    background-repeat: repeat-y;
    background-size: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  };
}




